/**
 * 	CSS3 Only Horizontal and Vertical Accordion
 * 	Author: Paul Underwood for Hongkiat.com
 *  Website: www.paulund.co.uk
 *  Date: 27/11/11
 *  Version: 1.0
 */

/* 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
*/

/*Define Accordion box*/
.accordion { width:620px; overflow:hidden; margin:20px auto; color:rgba(66, 67, 45, 0.5);  padding:10px; }

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target {background:transparent; padding:10px;}
.accordion section:target:hover {background:transparent; }
.accordion section:target h2 {width:94.5%; background:rgba(66, 67, 45, 0.4); margin-left:40px;}
.accordion section:target h2 a{ color:#8fc400; padding:18px 5px 5px 10px;}
.accordion section:target li {display:block; padding-left:40px; line-height:1.5em;}
.accordion section h2 a{padding:27px 10px;display:block; font-size:18px; font-weight:normal;color:#FFF; text-decoration:none; }

/*set style of closed slide*/
.accordion section{float:left;	overflow:hidden; color:#42432d; cursor:pointer; background:#42432d; margin:3px;}
.accordion section:hover {background:rgba(66, 67, 45, 0.3);}
.accordion section li { display:none; font-size:14px; }
.accordion section:after{position:relative;font-size:18px;color:#8fc400;font-weight:bold; content:'->';}



/*End General Accordion****************************************************************************/

/*Horizontal Accordion *********************************************************************/
.horizontal section{ width:5%; height:270px; 
	-moz-transition:width 0.2s ease-out; 
	-webkit-transition:width 0.2s ease-out;
  	-o-transition:width 0.2s ease-out;
	-ms-transition:width 0.2s ease-out;
  	transition:width 0.2s ease-out;
}

/*Position the number of the slide*/
 .horizontal section:after{top:180px;left:5px;} 

/*Header of closed slide*/
.horizontal section h2 { 
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width:230px; position:relative; left:-105px; top:90px;
} 

/*On mouse over open slide*/
.horizontal :target{ width:71.5%;height:250px; }
.horizontal :target h2{ top:0px;left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
/*End Horizontal Accordion *********************************************************************/



/*Vertical Accordion *************************************************************************/
.vertical section{ width:99.5%; height:40px;
	-webkit-transition:height 0.2s ease-out;
	-moz-transition:height 0.2s ease-out;
  	-o-transition:height 0.2s ease-out;
	-ms-transition:height 0.2s ease-out;
  	transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.vertical :target{ height:100%; width:96.5%; }

.vertical section h2 { position:relative; left:0; top:-15px; }

/*Set position of the number on the slide*/
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}
*/