html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body{
	background-image:url(../img/fond.jpg);
	font-family:Lucida Console, Monaco, monospace;	
}

.container {
    width: 990px;
    margin: 0 auto;
	/*background-color: rgba(255, 255, 255, 0.5) */ 
}

.taille{width:150px; length:150px;}

/*:::::::::::::::::::::::::::::  header  ::::::::::::::::::::::::::::*/
h1{
	font-family: impact;
	font-size: 3.6em;
	color: #42432d;
} 

h2{
	font-family:Lucida Console, Monaco, monospace;
	font-size:2em;
	color : #8fc400;
}

h3{
	font-family:Lucida Console, Monaco, monospace;
	font-size:1em;
}

#welcome {
	text-align:right;
}

#nav{
	margin-top:40px;
	list-style-type:none;
}

#nav li {
	display:inline-block;
}
#nav li a {
	text-decoration: none;
	color:rgba(66, 67, 45, 0.5);
	border-left:1px solid #8fc400;
	text-align: center;
	padding:15px 19px 15px 32px;	
}

#nav .active a{
	color: #8fc400;
}

#nav a:hover {
color: #42432d;
text-shadow: -1px 1px 2px #555;	
}

.fdmarr{
	background:#42432d;
	margin-top:20px;
}



/*::::::::::::::::::::::::::  footer  ::::::::::::::::::::::::::::::*/
footer{
	height: 130px;
	background:#42432d;
	color:#fff;
}

.foot{
	margin-top: 10px;
	display:inline;
	list-style-type:none;
}

.foot .padd{
	text-align:center;
	letter-spacing:0.5em;
	color: rgba(66, 67, 45, 0.5);
	padding-top: 30px;
}

.foot img{
	border-radius:50%;
	width:32px;
	height:32px;
	background:#fff;
	text-decoration:none;
	margin-right:20px;
	vertical-align:middle;		
}

.foot a{
	text-decoration:none;
	color:#8fc400;
}

.foot li{
	vertical-align:middle;
	margin:10px 70px;
	color:#8fc400;
	
}

/*:::::::::::::::::::::::::::::  presentation  ::::::::::::::::::::::::::::::*/


.presentation{
	width:270px;
	background: -moz-linear-gradient(top, rgba(144,196,0,0.8) 0%, rgba(144,196,0,0.01) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(144,196,0,0.8)), color-stop(100%,rgba(144,196,0,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(144,196,0,0.8) 0%,rgba(144,196,0,0.01) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(144,196,0,0.8) 0%,rgba(144,196,0,0.01) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(144,196,0,0.8) 0%,rgba(144,196,0,0.01) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(144,196,0,0.8) 0%,rgba(144,196,0,0.01) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc90c400', endColorstr='#0390c400',GradientType=0 ); /* IE6-9 */
	border-radius: 20px 20px 0 0;
	padding:20px;
	line-height:1.5em;
	margin-top:20px;
}
.presentation-ht{
	width:270px;
	height:70px;
	background: -moz-linear-gradient(top,  rgba(144,196,0,1) 0%, rgba(144,196,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(144,196,0,1)), color-stop(100%,rgba(144,196,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(144,196,0,1) 0%,rgba(144,196,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(144,196,0,1) 0%,rgba(144,196,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(144,196,0,1) 0%,rgba(144,196,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(144,196,0,1) 0%,rgba(144,196,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c400', endColorstr='#cc90c400',GradientType=0 ); /* IE6-9 */
	border-radius: 0 0 20px 20px;
	padding:20px;
}

.retrait {
	text-indent: -30px;
	padding-left: 30px;
	margin-top: 5px;
}

.presentation .gras {
		padding-top: 10px;
}

/*:::::::::::::::::::  home  ::::::::::::::::::::::*/

#fd_body{
/*	background-color: #2EFE9A;
	margin-top: 20px;*/
	margin-bottom: 20px;	
}

#fd_body p{
	display: block;
	vertical-align: middle;
}

#photo{
	border-radius:50%;
	width:300px;
	height:300px;
	border:2px solid #42432d;
	margin:10px 0 30px 10px;
}



details {
	display:inline; /* Pour les navigateurs n'implémentant pas <details> et <summary> */
	width:600px;
	margin:10px 0;
	float:right;
}
summary {
	display:inline; /* Pour les navigateurs n'implémentant pas <details> et <summary> */
	margin-bottom:10px;
	background:#8fc400;
	color:white;
	border-radius:5px;
	padding:5px 10px;
	cursor:pointer;
}


details table {
	width: auto;
	margin: 1em 0;
	border-spacing: 12px 0px;
}

details th {
	color:#42432d;
	background-color: rgba(66, 67, 45, 0.5);
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

details th {
text-align: left;
padding: 5px 20px;
}

details td {
text-align: left;
padding: 5px 10px;
}

details li {
	list-style-type: none;
	line-height:1.5em;
}

progress {
  display: block;
  width: 100%;
  height: 2em;
  margin-top: .7em;
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgba(66, 67, 45, 0.5);
  box-shadow: 0 0 0 3px rgba(66, 67, 45, 0.5);
}

@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: rgba(66, 67, 45, 0.5);
}
progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #8fc400;
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-size: 20px 20px;
  -webkit-animation: progress 4s linear infinite;
  animation: progress 4s linear infinite;
}
progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: #8fc400;
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-size: 20px 20px;
  -moz-animation: progress 4s linear infinite;
  animation: progress 4s linear infinite;
}

.prog_txt{text-align:right;}

.th_larg{width: 200px;}

/*::::::::::::::::::::::::::::::  contact  ::::::::::::::::::::::::::::::::*/
#contact{
	width:990px;
	height:350px;
 }
#email, #nom {
	width:370px;	
}
#objet {
	width:795px;
	margin-left:30px;
}
textarea{
	width:80%;
	margin-left:100px;
	height:200px;
		
}
#envoi{
	background:rgba(66, 67, 45, 0.5);
}
*/

/*
/*::::::::::::::::::::::::::::::  cv  :::::::::::::::::::::::::::::::: */

 iframe {
	width:815px;
	height:1125px;
 }
 
.fdcv {margin: 20px auto;}

/*:::::::::::::::::::::::::::::::::::  general  :::::::::::::::::::::::::::::::::::*/
.floatleft {float:left;}
.floatright {float:right;}
.clear {clear:both;}
.gris {color: rgba(66, 67, 45, 0.5);}
.vert {color: #8fc400;}
.gras {font-weight: bold;}
.puce {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-top: .7em;
  border: 1.5px solid white;
  border-radius: 2.5px;
  background-color: #8fc400;
  box-shadow: 0 0 0 1.5px rgba(66, 67, 45, 0.5);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.h20{ height:15px;}

.interligne {
	margin-bottom:10px;
	font-size:24px;
}
.right{text-align:right;}